<section *ngIf="test | async as dados">
<header>
  <img src="svg/logo.svg" alt="Step by Stepway">
  <div class="box">
    <div>
      <label>Valor Total</label>
      <span>{{dados.total | currency}}</span>
    </div>
    <div>
      <label>Entrada</label>
      <span>{{dados.entrada | currency}}</span>
    </div>
    <div>
      <label>Parcelas pagas</label>
      <span>{{parcelas(dados.parcelas) | currency}}</span>
    </div>
    <div>
      <label>Para quitar</label>
      <span>{{aPagar(dados) | currency}}</span>
    </div>
  </div>
</header>
<main>
  @for (item of dados.parcelas; track $index) {
    <div class="box" [ngClass]="{'pago': item.pago}">
      <header>
        <span>
          @if (item.pago) {<i>V</i>}
          @else {<i></i>}
          <span>{{$index+1}}</span>
        </span>
        {{item.data}}
      </header>
      <span>1.000,00</span>
    </div>
  }
</main>
</section>